@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.ttf");
    font-weight: 900;
}

.base__container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header__color {
    background-color: #222222;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    max-width: 1140px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__menu-item {
    position: relative;
}

.header__menu-item:last-child::after {
    content: "5";
    position: absolute;
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    right: -10px;
    background-color: #F16D7F;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
}

.header__menu-item:first-child:hover .dropdown_menu {
    opacity: 1;
}

.dropdown_menu {
    position: fixed;
    top: 75px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 232px;
    height: 634px;
    background-color: #FFFFFF;
}

.dropdown_menu-heading {
    padding: 32px 0 24px 33px;
    color: black;
    font-size: 14px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word;
}

.menu-heading {
    padding: 0 32px 12px;
    color: #F16D7F;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
}

.menu-desc {
    padding: 0 53.5px 11px;
    color: #6F6E6E;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    transition: .3s;
}

.menu-desc:hover {
    color: #F16D7F;
}

.intro__color {
    background-color: #F1E4E6;
}

.intro {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 64px;
}

.intro__content {
    align-self: center;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    max-width: 377px;
}

.intro-content_title {
    font-size: 48px;
    font-family: Lato;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.intro-content_sub-title {
    font-size: 32px;
    font-family: Lato;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.red {
    color: #F16D7F;
}

.offer {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer_card {
    position: relative;
}

.offer_card-img {
    width: 100%;
    height: 100%;
}

.offer_card-bg {
    background: rgba(33, 22, 22, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.offer_card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    transform: translate(-50%, -50%);
}

.offer_red {
    color: #F16D7F;
    font-size: 24px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word
}

.offer_card_big {
    grid-column: span 3;
}

.products {
    margin-top: 100px;
}

.products__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    max-width: 336px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.products__header_title {
    color: #222;
    font-size: 30px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word
}

.products__header_desc {
    color: #9F9F9F;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word
}

.products__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.products_card-img {
    position: relative;
    width: 100%;
}

.products_card-img:hover::after {
    content: '';
    background-color: rgba(58, 56, 56, .86);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.products_card-button {
    opacity: 0;
    width: fit-content;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    transition: opacity .35s;
    border: 1px solid white;
    padding: 20px;
    background-color: inherit;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: normal;
    gap: 11px;
    cursor: pointer;
}

.products_card-img:hover .products_card-button {
    opacity: 1;
}

.products_card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    gap: 16px;
    background-color: #F8F8F8;
}

.products_card_title {
    color: black;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
}

.products_card_desc {
    color: #5D5D5D;
    font-size: 14px;
    font-family: Lato;
    font-weight: 300;
    word-wrap: break-word;
}

.products_card_price {
    color: #F16D7F;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
}

.products__button_wrapper {
    display: flex;
    justify-content: center;
}

.products_button {
    padding: 15px 39px;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: 1px solid #F26376;
    cursor: pointer;
    transition: .3s;
}

.products_button:hover {
    background-color: #F16D7F;
    color: #fff;
}

.feature_color {
    background-color: #222224;
}

.feature {
    margin-top: 95px;
    display: flex;
    gap: 30px;
    padding: 103px;
}

.feature_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #FBFBFB;
}

.feature-icon {
    width: 39px;
    height: 39px;
    margin-bottom: 3px;
}

.feature_card-heading {
    font-size: 19.96px;
    font-family: Lato;
    font-weight: 400;
}

.feature_card-desc {
    padding-top: 16px;
    opacity: .6;
    padding-bottom: 0 30px;
    font-size: 13.97px;
    font-family: Lato;
    font-weight: 300;
    text-align: center;
}

.subscribe_bg-image {
    position: relative;
    background: url(../images/subscribe/subscribe_bg.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 97px 0 126px
}

.subscribe_content_left {
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.subscribe_content_left-desc {
    padding-top: 30px;
    text-align: center;
    color: #222224;
    font-size: 20px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word
}

.desc_cursive {
    color: #222224;
    font-size: 20px;
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word
}

.subscribe_content_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_content_right-heading {
    color: #222224;
    font-size: 24px;
    font-family: Lato;
    font-weight: 700;
    line-height: 40.13px;
    word-wrap: break-word
}

.subscribe_content_right-desc {
    color: #222224;
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30.10px;
    word-wrap: break-word
}

.subscribe_content_right-form {
    padding-top: 20px;
    padding-bottom: 30px;
    height: 49px;
    display: flex;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
}

.form-email_input {
    background-color: #E1E1E1;
    border-radius: 22px 0 0 22px;
    border: none;
    padding-left: 22px;
}

.form-button_submit {
    width: 100px;
    height: 100%;
    background-color: #F16D7F;
    color: #FFFFFF;
    border: none;
    border-radius: 0 22px 22px 0;
}

.socials_color {
    background-color: #222224;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials-copyright {
    color: #FBFBFB;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word
}

.socials_buttons {
    display: flex;
    gap: 7.30px;
    padding: 24px 0;
}

.socials_buttons-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    border: none;
    transition: .3s;
}

.socials_icon {
    fill: #000;
    transition: .3s;
}

.socials_buttons-button:hover {
    background-color: #F16D7F;

    .socials_icon {
        fill: #fff;
    }
}

@media screen and (max-width: 1439px) {
    .base__container {
        max-width: 100%;
        margin: 0 16px;
    }

    .header {
        max-width: 100%;
        margin: 0 32px;
    }

    .intro {
        max-width: 100%;
        margin: 0 auto;
        gap: 39px;
        justify-content: center;
    }

    .intro__content_title {
        font-size: 44px;
    }

    .intro__content_sub-title {
        font-size: 24px;
    }

    .offer {
        margin-top: 65px;
    }

    .products {
        margin: 110px;
    }

    .products__header {
        margin-bottom: 65px;
    }

    .products__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .feature {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 48px 204px;
    }

    .feature_card-desc {
        width: 360px;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }

    .subscribe_content_right {
        margin-top: 0;
        padding: 0;
    }

    .subscribe_content_right-form {
        padding-bottom: 0;
    }

    .socials {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0 16px;
    }

    .intro {
        height: 363px;
        display: flex;
        align-items: center;
    }

    .intro-content_title {
        font-size: 38px;
    }

    .intro-content_sub-title {
        font-size: 20px;
    }

    .hide_obj {
        display: none;
    }

    .offer {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .offer_card_big {
        grid-column: auto;
        height: 111px;
    }

    .products__items {
        grid-template-columns: 1fr;
    }

    .feature {
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 48px 13px;
    }

    .feature_card-desc {
        width: 347px;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }

    .subscribe_content_right {
        margin-top: 0;
    }

    .subscribe_content_right-form {
        padding-bottom: 0;
    }

    .socials {
        flex-direction: column-reverse;
        padding: 43px 0 9px;
        gap: 40px;
    }
}